<mat-sidenav-container class="sidebar-container">
  <mat-sidenav 
    #sidenav 
    mode="side" 
    [opened]="isOpen" 
    class="sidebar"
  >
    <mat-nav-list>
      <h2 mat-subheader>Main Menu</h2>
      
      <mat-list-item 
        *ngFor="let item of menuItems"
        [routerLink]="item.route"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="menu-item"
      >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <div matListItemTitle>{{ item.label }}</div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <button 
      mat-icon-button 
      (click)="sidenav.toggle()" 
      class="toggle-button"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
